.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

div.dropzone {
  height: 400px;
  width: 100%;
  border: 3px solid black;
}

button {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 1.5em;
}
